@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
body {
    font-family: 'Mitr', serif;
    font-size: '20pt';
    background-color: #dddddd;
}
.rightaligned {
    position: absolute;
    right: 20px;
    color: #ffffff;
}
.dropdown-menu {
    background-color: #7f1d17;
}
.dropdown-item {
    color: white;
}
.textbgred {
    background-color: #7f1d17;
}
.carousel-caption {
    text-align: left;
}
.card {
    width: 18.5rem;
    height: 23rem;
}
.card-hz {
    width: 22rem;
    height: 12rem;
}
.card-img-top {
    width: 18.5rem;
    height: 12rem;
    object-fit: cover;
}
.card-img {
    width: 10rem;
    height: 12rem;
    object-fit: cover;
}
.card-body-hz {
    width: 12rem;
    height: 12rem;
}
.card-title {
    height: 1.5rem;
    overflow: hidden;
}
.card-text {
    height: 3rem;
    overflow: hidden;
}
.card-caption {
    height: 2rem;
    overflow: hidden;
}
.chat-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
}
@media (min-width: 576px) {
    .card-hz {
    width: 38.5rem;
    height: 12rem;
    }
    .card-img {
    width: 16rem;
    height: 12rem;
    object-fit: cover;
    }
    .card-body-hz {
        width: 20rem;
        height: 12rem;
    }
    .chat-button {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    width: 5rem;
    }
}